.df-sdk-single-btn {
  background: #0275d8 !important;
  color: #fff !important;
}
.df-sdk-single-btn:hover {
  background: #fff !important;
  color: #0275d8 !important;
  border: 2px solid #0275d8 !important;
}

.df-sdk-next-btn {
  background: #0275d8 !important;
  color: #fff !important;
}
.df-sdk-next-btn:hover {
  background: #fff !important;
  color: #0275d8 !important;
  border: 2px solid #0275d8 !important;
}
