.df-sdk-next-button {
  background-color: red !important;
  background: red !important;
  border: 5px solid black !important;
}
.df-sdk-next-button:hover {
  background: black !important;
}
.df-sdk-single-btn {
  background: black !important;
  border: 2px solid red !important;
}
